.g-header .z1 {left: 0px; opacity:1;}
.g-header .z2 {right: -1438px; opacity:1;}
.g-header .z3 {left: -1373px; opacity:1;}
.b-reviews {left:0px; bottom:234px;}
.b-news {bottom: 0px;}
.goods-descr {display:block;}
#cont-goods {right:0;}
#cont-goods-buy-info {right:318px;}
#news-full {bottom: -1295px;}
#cont-feedback {bottom: -1295px;}
.g-footer div.z4 {left: -1737px; opacity: 1;}