{% extends "KingstonHyperxBundle::layout.html.twig" %}
{% block content %}
<div class="g-container">
	<div class="inner">

		

<div id="cont-reviews" class="b-reviews">
	<h3>Обзоры</h3>

	<div id="reviews-slider">
		<ul>
						<li>
			<div class="item">
				<a target="_blank" data-id="38" class="img" href="/reviews/id/pamjat-kingston-hyperx-predator-ddr3-dlja-samyh-trebovatelnyh-038/"><img style="background-image: url(http://hyperx.com.ua/files/news_tape/images/0/38/pamjat-kingston-hyperx-predato_38_s2.png)" alt="Память Kingston HyperX Predator DDR3 для самых требовательных" src="/skin/img/project/bg_review_img.png"></a>
				<p>
										<a href="/reviews/id/pamjat-kingston-hyperx-predator-ddr3-dlja-samyh-trebovatelnyh-038/" data-id="38">Компания Kingston Technology анонсировала 240-контактные модули DIMM оперативной памяти DDR3 из новой линейки HyperX Predator Series, ориентированные...</a>
					<span><a href="/reviews/id/pamjat-kingston-hyperx-predator-ddr3-dlja-samyh-trebovatelnyh-038/" data-id="38">Память Kingston HyperX Predator DDR3 для самых требовательных</a></span>
				</p>
			</div>
			</li>
						<li>
			<div class="item">
				<a target="_blank" data-id="39" class="img" href="/reviews/id/kingston-hyperx-3k-pravda-i-zabluzhdenija-o-dolgovechnosti-ssd-039/"><img style="background-image: url(http://hyperx.com.ua/files/news_tape/images/0/39/kingston-hyperx-3k-pravda-i-za_39_s2.png)" alt="Kingston HyperX 3K: правда и заблуждения о долговечности SSD" src="/skin/img/project/bg_review_img.png"></a>
				<p>
										<a href="/reviews/id/kingston-hyperx-3k-pravda-i-zabluzhdenija-o-dolgovechnosti-ssd-039/" data-id="39">У Flash-памяти есть одно общеизвестное неприятное свойство: процесс записи данных в ячейку физически повреждает ее, поэтому количество циклов...</a>
					<span><a href="/reviews/id/kingston-hyperx-3k-pravda-i-zabluzhdenija-o-dolgovechnosti-ssd-039/" data-id="39">Kingston HyperX 3K: правда и заблуждения о долговечности SSD</a></span>
				</p>
			</div>
			</li>
						<li>
			<div class="item">
				<a target="_blank" data-id="37" class="img" href="/reviews/id/obzor-i-testirovanie-proizvoditelnyh-tverdotelnyh-nakopitelej-kingston-hyperh-i-kc100-obemom-120-gb-037/"><img style="background-image: url(http://hyperx.com.ua/files/news_tape/images/0/37/kingston-vypuskaet-nedorogie-u_37_s2.png)" alt="Обзор и тестирование производительных твердотельных накопителей Kingston HyperХ и KC100 объемом 120 GB" src="/skin/img/project/bg_review_img.png"></a>
				<p>
										<a href="/reviews/id/obzor-i-testirovanie-proizvoditelnyh-tverdotelnyh-nakopitelej-kingston-hyperh-i-kc100-obemom-120-gb-037/" data-id="37">Не так давно мы познакомились с твердотельным накопителем Kingston SSDNow V+200 объемом 120 GB. В целом, этот продукт оставил положительные...</a>
					<span><a href="/reviews/id/obzor-i-testirovanie-proizvoditelnyh-tverdotelnyh-nakopitelej-kingston-hyperh-i-kc100-obemom-120-gb-037/" data-id="37">Обзор и тестирование производительных твердотельных накопителей Kingston HyperХ и KC100 объемом 120 GB</a></span>
				</p>
			</div>
			</li>
						<li>
			<div class="item">
				<a target="_blank" data-id="6" class="img" href="/reviews/id/obzor-ssd-diska-kingston-ssdnow-v-series-snvp325-s2128gb-006/"><img style="background-image: url(http://hyperx.com.ua/files/news_tape/images/0/6/hyperx-predator-debuts_6_s2.png)" alt="Обзор SSD-диска Kingston SSDNow V+-Series SNVP325-S2/128GB" src="/skin/img/project/bg_review_img.png"></a>
				<p>
										<a href="/reviews/id/obzor-ssd-diska-kingston-ssdnow-v-series-snvp325-s2128gb-006/" data-id="6">Предоставив на суд нашему читателю уже три обзора SSD-дисков от компаний Intel и Kingston, мы не однократно отмечали их преимущества и недостатки над...</a>
					<span><a href="/reviews/id/obzor-ssd-diska-kingston-ssdnow-v-series-snvp325-s2128gb-006/" data-id="6">Обзор SSD-диска Kingston SSDNow V+-Series SNVP325-S2/128GB</a></span>
				</p>
			</div>
			</li>
					</ul>
	</div>
			<div id="reviews-pager" class="pager">
										<span class="active"></span>
							<span></span>
							<span></span>
							<span></span>
					</div>
	
	</div>


<div id="cont-news" class="b-news b-news-list">
	<h3>Новости</h3>
		<div id="news-pager" class="pager">
						<span class="active"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		<del class="clr"></del>

	<div id="news-slider">
		<ul>
		<li>
					<div class="item">
				<small>20/09/12</small>
				<a href="/news/id/turnir-po-starcraft-ii-ot-kingston-s-prizovym-fondom-15-tysjach-048/" data-id="48"><img alt="Турнир по StarCraft II от Kingston с призовым фондом $15 тысяч" src="http://hyperx.com.ua/files/news_tape/images/0/48/turnir-po-starcraft-ii-ot-king_48_s100.png">Турнир по StarCraft II от Kingston с призовым фондом $15 тысяч</a>
				<del class="clr"></del>
			</div>
								<div class="item">
				<small>16/09/12</small>
				<a href="/news/id/kingston-technology-rasshirjaet-semejstvo-produkcii-hyperx-040/" data-id="40"><img alt="Kingston Technology расширяет семейство продукции HyperX" src="http://hyperx.com.ua/files/news_tape/images/0/40/kingston-technology-rasshirjae_40_s100.png">Kingston Technology расширяет семейство продукции HyperX</a>
				<del class="clr"></del>
			</div>
					</li>
		<li>
								<div class="item">
				<small>27/08/12</small>
				<a href="/news/id/kingston-predlagaet-novye-tverdotelnye-nakopiteli-korporativnogo-urovnja-ssdnow-e100-043/" data-id="43"><img alt="Kingston предлагает новые твердотельные накопители корпоративного уровня SSDNow E100" src="http://hyperx.com.ua/files/news_tape/images/0/43/kingston-predlagaet-novye-tver_43_s100.png">Kingston предлагает новые твердотельные накопители корпоративного уровня SSDNow E100</a>
				<del class="clr"></del>
			</div>
								<div class="item">
				<small>21/08/12</small>
				<a href="/news/id/kingston-digital-razrabatyvaet-sertificirovannyj-usb-nakopitel-dlja-windows-to-go-044/" data-id="44"><img alt="Kingston Digital разрабатывает сертифицированный USB-накопитель для Windows To Go" src="http://hyperx.com.ua/files/news_tape/images/0/44/kingston-digital-razrabatyvaet_44_s100.png">Kingston Digital разрабатывает сертифицированный USB-накопитель для Windows To Go</a>
				<del class="clr"></del>
			</div>
					</li>
		<li>
								<div class="item">
				<small>12/08/12</small>
				<a href="/news/id/kompanija-kingston-technology-pristupaet-k-massovomu-proizvodstvu-modulej-pamjati-hyperx-red-v-ramkah-svoej-linejki-produkcii-028/" data-id="28"><img alt="Компания Kingston Technology приступает к массовому производству модулей памяти HyperX red в рамках своей линейки продукции" src="http://hyperx.com.ua/files/news_tape/images/0/28/kingston-vypuskaet-nedorogie-u_28_s100.png">Компания Kingston Technology приступает к массовому производству модулей памяти HyperX red в рамках своей линейки продукции</a>
				<del class="clr"></del>
			</div>
								<div class="item">
				<small>04/06/12</small>
				<a href="/news/id/kingston-rasshirjaet-linejku-overklokerskoj-pamjati-hyperx-047/" data-id="47"><img alt="Kingston расширяет линейку оверклокерской памяти HyperX" src="http://hyperx.com.ua/files/news_tape/images/0/47/kingston-rasshirjaet-linejku-o_47_s100.png">Kingston расширяет линейку оверклокерской памяти HyperX</a>
				<del class="clr"></del>
			</div>
					</li>
		<li>
								<div class="item">
				<small>17/04/12</small>
				<a href="/news/id/kingston-wi-drive-priznan-luchshim-portativnym-flesh-nakopitelem-na-rossijskom-rynke-045/" data-id="45"><img alt="Kingston Wi-Drive признан лучшим портативным флеш-накопителем на российском рынке" src="http://hyperx.com.ua/files/news_tape/images/0/45/kingston-wi-drive-priznan-luch_45_s100.png">Kingston Wi-Drive признан лучшим портативным флеш-накопителем на российском рынке</a>
				<del class="clr"></del>
			</div>
								<div class="item">
				<small>27/02/12</small>
				<a href="/news/id/tverdotelnye-nakopiteli-kingston-hyperx-ssd-vysokaja-skorost-raboty-dlja-trebovatelnyh-polzovatelej-046/" data-id="46"><img alt="Твердотельные накопители Kingston HyperX® SSD: высокая скорость работы для требовательных пользователей" src="http://hyperx.com.ua/files/news_tape/images/0/46/tverdotelnye-nakopiteli-kingst_46_s100.png">Твердотельные накопители Kingston HyperX&reg; SSD: высокая скорость работы для требовательных пользователей</a>
				<del class="clr"></del>
			</div>
					</li>
		<li>
								<div class="item">
				<small>30/01/12</small>
				<a href="/news/id/kompanija-kingston-predstavljaet-novye-moduli-pamjati-hyperx-red-limited-edition-041/" data-id="41"><img alt="Компания Kingston представляет новые модули памяти HyperX Red Limited Edition" src="http://hyperx.com.ua/files/news_tape/images/0/41/kompanija-kingston-predstavlja_41_s100.png">Компания Kingston представляет новые модули памяти HyperX Red Limited Edition</a>
				<del class="clr"></del>
			</div>
								<div class="item">
				<small>10/01/12</small>
				<a href="/news/id/kingston-technology-predlagaet-novye-moduli-hyperx-red-i-obnovlennye-moduli-lovo-042/" data-id="42"><img alt="Kingston Technology предлагает новые модули HyperX Red и обновленные модули LoVo" src="http://hyperx.com.ua/files/news_tape/images/0/42/kingston-technology-predlagaet_42_s100.png">Kingston Technology предлагает новые модули HyperX Red и обновленные модули LoVo</a>
				<del class="clr"></del>
			</div>
							</li>
		</ul>
	</div>
</div>

<div id="news-full">
	<h3 id="news-cont-title" data-href="/news/">Новости</h3>
	<del class="clr"></del>
	<div class="news-inn">
		<div id="news-full-cont"></div>
	</div>
</div>

<div id="cont-feedback">
	<h3 id="cont-feedback-title">Обратная связь</h3>
	<del class="clr"></del>
	<div id="cont-feedback-inner"></div>
</div>













<div id="cont-goods" class="g-goods">

	<div class="goods-big">
		<div class="goods-big-inner"><img style="background-image: url(/skin/img/temp/goods_329x205.jpg)" alt="" src="/skin/img/share/0.gif"></div>
		<div class="inner"></div>
		<a class="mask" href="#"></a>
				</div>

	
	<div class="goods-list">
		<div id="carousel" class="list">
		<div style="display: none">
	<ul id="goods-hidden-items">
			<li><a href="http://hyperx.com.ua/goods/id/138/"><img title="SSDNow V+200 480GB" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/38/ssdnow-v200-60gb134135136137_138_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/38/ssdnow-v200-60gb134135136137_138_s1.png" class="picture-cat-7" data-id="138"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/137/"><img title="SSDNow V+200 240GB" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/37/ssdnow-v200-60gb134135136_137_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/37/ssdnow-v200-60gb134135136_137_s1.png" class="picture-cat-7" data-id="137"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/136/"><img title="SSDNow V+200 120GB" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/36/ssdnow-v200-60gb134135_136_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/36/ssdnow-v200-60gb134135_136_s1.png" class="picture-cat-7" data-id="136"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/135/"><img title="SSDNow V+200 90GB" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/35/ssdnow-v200-60gb134_135_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/35/ssdnow-v200-60gb134_135_s1.png" class="picture-cat-7" data-id="135"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/134/"><img title="SSDNow V+200 60GB" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/34/ssdnow-v200-60gb_134_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/34/ssdnow-v200-60gb_134_s1.png" class="picture-cat-7" data-id="134"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/133/"><img title="HYPERX SSD 480GB" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/33/hyperx-ssd128_133_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/33/hyperx-ssd128_133_s1.png" class="picture-cat-8" data-id="133"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/132/"><img title="HYPERX SSD 240GB" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/32/hyperx-ssd128_132_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/32/hyperx-ssd128_132_s1.png" class="picture-cat-8" data-id="132"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/131/"><img title="HYPERX 3K 480GB" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/31/hyperx-3k127_131_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/31/hyperx-3k127_131_s1.png" class="picture-cat-6" data-id="131"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/130/"><img title="HYPERX 3K 240GB" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/30/hyperx-3k127_130_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/30/hyperx-3k127_130_s1.png" class="picture-cat-6" data-id="130"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/129/"><img title="HYPERX 3K 120GB" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/29/hyperx-3k127_129_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/29/hyperx-3k127_129_s1.png" class="picture-cat-6" data-id="129"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/128/"><img title="HYPERX SSD 120GB" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/28/hyperx-ssd_128_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/28/hyperx-ssd_128_s1.png" class="picture-cat-8" data-id="128"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/127/"><img title="HYPERX 3K 90GB" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/27/hyperx-3k_127_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/27/hyperx-3k_127_s1.png" class="picture-cat-6" data-id="127"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/126/"><img title="blu &mdash; 4GB Kit (2x2GB) &mdash; DDR3 1600MHz CL9 DIMM XMP" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/26/blu-4gb-kit-2x2gb-ddr3-1600mh_126_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/26/blu-4gb-kit-2x2gb-ddr3-1600mh_126_s1.jpg" class="picture-cat-14" data-id="126"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/125/"><img title="HyperX red &mdash; 8GB Kit (2x4GB) &mdash; DDR3 1600MHz CL9 DIMM XMP" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/25/hyperx-red-8gb-kit-2x4gb-ddr3_125_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/25/hyperx-red-8gb-kit-2x4gb-ddr3_125_s1.jpg" class="picture-cat-15" data-id="125"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/124/"><img title="blu &mdash; 16GB Kit (2x8GB) &mdash; DDR3 1600MHz CL10 DIMM XMP" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/24/blu-16gb-kit-2x8gb-ddr3-1600m_124_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/24/blu-16gb-kit-2x8gb-ddr3-1600m_124_s1.jpg" class="picture-cat-14" data-id="124"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/123/"><img title="HyperX red &mdash; 4GB Kit (2x2GB) &mdash; DDR3 1600MHz CL9 DIMM XMP" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/23/hyperx-red-4gb-kit-2x2gb-ddr3_123_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/23/hyperx-red-4gb-kit-2x2gb-ddr3_123_s1.jpg" class="picture-cat-15" data-id="123"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/122/"><img title="HyperX red &mdash; 16GB Kit (2x8GB) &mdash; DDR3 1600MHz CL10 DIMM XMP" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/22/hyperx-red-16gb-kit-2x8gb-ddr_122_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/22/hyperx-red-16gb-kit-2x8gb-ddr_122_s1.jpg" class="picture-cat-15" data-id="122"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/100/"><img title="SO-DIMM &mdash; 4GB Kit (2x2GB) &mdash; DDR3 1600MHz CL9 SODIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/0/so-dimm-4gb-kit-2x2gb-ddr3-16_100_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/0/so-dimm-4gb-kit-2x2gb-ddr3-16_100_s1.jpg" class="picture-cat-16" data-id="100"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/102/"><img title="Genesis &mdash; 4GB Kit (2x2GB) &mdash; DDR2 1066MHz CL5 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/2/genesis-4gb-kit-2x2gb-ddr2-10_102_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/2/genesis-4gb-kit-2x2gb-ddr2-10_102_s1.jpg" class="picture-cat-16" data-id="102"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/103/"><img title="Genesis &mdash; 4GB Kit (2x2GB) &mdash; DDR2 800MHz CL4 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/3/genesis-4gb-kit-2x2gb-ddr2-80_103_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/3/genesis-4gb-kit-2x2gb-ddr2-80_103_s1.jpg" class="picture-cat-16" data-id="103"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/026/"><img title="H2O &mdash; 8GB Kit (2x4GB) &mdash; DDR3 2133MHz CL11 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/26/h2o-8gb-kit-2x4gb-ddr3-2133mhz_26_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/0/26/h2o-8gb-kit-2x4gb-ddr3-2133mhz_26_s1.png" class="picture-cat-20" data-id="26"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/028/"><img title="HyperX Predator &mdash; 16GB Kit (2x8GB) &mdash; DDR3 2133MHz CL11 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/28/hyperx-predator-16gb-kit-2x8gb_28_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/0/28/hyperx-predator-16gb-kit-2x8gb_28_s1.png" class="picture-cat-19" data-id="28"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/032/"><img title="HyperX Predator &mdash; 8GB Kit (2x4GB) &mdash; DDR3 2400MHz CL11 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/32/hyperx-predator-8gb-kit-2x4gb-_32_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/0/32/hyperx-predator-8gb-kit-2x4gb-_32_s1.png" class="picture-cat-19" data-id="32"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/034/"><img title="HyperX Predator &mdash; 8GB Kit (2x4GB) &mdash; DDR3 1866MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/34/hyperx-predator-8gb-kit-2x4gb-_34_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/0/34/hyperx-predator-8gb-kit-2x4gb-_34_s1.png" class="picture-cat-19" data-id="34"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/035/"><img title="HyperX Predator &mdash; 8GB Kit (2x4GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/35/hyperx-predator-8gb-kit-2x4gb-_35_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/0/35/hyperx-predator-8gb-kit-2x4gb-_35_s1.png" class="picture-cat-19" data-id="35"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/062/"><img title="blu &mdash; 8GB Module &mdash; DDR3 1333MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/62/blu-8gb-module-ddr3-1333mhz-cl_62_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/62/blu-8gb-module-ddr3-1333mhz-cl_62_s1.jpg" class="picture-cat-14" data-id="62"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/090/"><img title="Genesis &mdash; 8GB Kit (4x2GB) &mdash; DDR3 2400MHz CL11 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/90/genesis-8gb-kit-4x2gb-ddr3-240_90_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/90/genesis-8gb-kit-4x2gb-ddr3-240_90_s1.jpg" class="picture-cat-16" data-id="90"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/105/"><img title="SO-DIMM &mdash; 4GB Kit (2x2GB) &mdash; DDR2 800MHz CL5 SODIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/5/so-dimm-4gb-kit-2x2gb-ddr2-80_105_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/5/so-dimm-4gb-kit-2x2gb-ddr2-80_105_s1.jpg" class="picture-cat-16" data-id="105"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/106/"><img title="SO-DIMM &mdash; 4GB Kit (2x2GB) &mdash; DDR2 800MHz CL4 SODIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/6/so-dimm-4gb-kit-2x2gb-ddr2-80_106_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/6/so-dimm-4gb-kit-2x2gb-ddr2-80_106_s1.jpg" class="picture-cat-16" data-id="106"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/107/"><img title="SO-DIMM &mdash; 4GB Kit (2x2GB) &mdash; DDR2 667MHz CL4 SODIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/7/so-dimm-4gb-kit-2x2gb-ddr2-66_107_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/7/so-dimm-4gb-kit-2x2gb-ddr2-66_107_s1.jpg" class="picture-cat-16" data-id="107"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/113/"><img title="SO-DIMM &mdash; 2GB Module &mdash; DDR2 533MHz CL3 SODIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/13/so-dimm-2gb-module-ddr2-533mh_113_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/13/so-dimm-2gb-module-ddr2-533mh_113_s1.jpg" class="picture-cat-16" data-id="113"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/117/"><img title="SO-DIMM &mdash; 2GB Kit (2x1GB) &mdash; DDR2 800MHz CL5 SODIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/17/so-dimm-2gb-kit-2x1gb-ddr2-80_117_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/17/so-dimm-2gb-kit-2x1gb-ddr2-80_117_s1.jpg" class="picture-cat-16" data-id="117"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/118/"><img title="SO-DIMM &mdash; 2GB Kit (2x1GB) &mdash; DDR2 667MHz CL4 SODIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/18/so-dimm-2gb-kit-2x1gb-ddr2-66_118_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/18/so-dimm-2gb-kit-2x1gb-ddr2-66_118_s1.jpg" class="picture-cat-16" data-id="118"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/059/"><img title="blu &mdash; 16GB Kit (2x8GB) &mdash; DDR3 1600MHz CL10 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/59/blu-16gb-kit-2x8gb-ddr3-1600mh_59_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/59/blu-16gb-kit-2x8gb-ddr3-1600mh_59_s1.jpg" class="picture-cat-14" data-id="59"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/061/"><img title="blu &mdash; 8GB Module &mdash; DDR3 1600MHz CL10 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/61/blu-8gb-module-ddr3-1600mhz-cl_61_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/61/blu-8gb-module-ddr3-1600mhz-cl_61_s1.jpg" class="picture-cat-14" data-id="61"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/063/"><img title="blu &mdash; 8GB Kit (2x4GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/63/blu-8gb-kit-2x4gb-ddr3-1600mhz_63_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/63/blu-8gb-kit-2x4gb-ddr3-1600mhz_63_s1.jpg" class="picture-cat-14" data-id="63"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/065/"><img title="blu &mdash; 4GB Module &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/65/blu-4gb-module-ddr3-1600mhz-cl_65_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/65/blu-4gb-module-ddr3-1600mhz-cl_65_s1.jpg" class="picture-cat-14" data-id="65"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/066/"><img title="blu &mdash; 4GB Module &mdash; DDR3 1333MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/66/blu-4gb-module-ddr3-1333mhz-cl_66_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/66/blu-4gb-module-ddr3-1333mhz-cl_66_s1.jpg" class="picture-cat-14" data-id="66"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/067/"><img title="blu &mdash; 4GB Kit (2x2GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/67/blu-4gb-kit-2x2gb-ddr3-1600mhz_67_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/67/blu-4gb-kit-2x2gb-ddr3-1600mhz_67_s1.jpg" class="picture-cat-14" data-id="67"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/068/"><img title="blu &mdash; 4GB Kit (2x2GB) &mdash; DDR3 1333MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/68/blu-4gb-kit-2x2gb-ddr3-1333mhz_68_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/68/blu-4gb-kit-2x2gb-ddr3-1333mhz_68_s1.jpg" class="picture-cat-14" data-id="68"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/070/"><img title="blu &mdash; 2GB Module &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/70/blu-2gb-module-ddr3-1600mhz-cl_70_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/70/blu-2gb-module-ddr3-1600mhz-cl_70_s1.jpg" class="picture-cat-14" data-id="70"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/071/"><img title="blu &mdash; 2GB Module &mdash; DDR3 1333MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/71/blu-2gb-module-ddr3-1333mhz-cl_71_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/71/blu-2gb-module-ddr3-1333mhz-cl_71_s1.jpg" class="picture-cat-14" data-id="71"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/075/"><img title="Genesis &mdash; 64GB Kit (8x8GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/75/genesis-64gb-kit-8x8gb-ddr3-16_75_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/75/genesis-64gb-kit-8x8gb-ddr3-16_75_s1.jpg" class="picture-cat-16" data-id="75"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/076/"><img title="Genesis &mdash; 32GB Kit (4x8GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/76/genesis-32gb-kit-4x8gb-ddr3-16_76_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/76/genesis-32gb-kit-4x8gb-ddr3-16_76_s1.jpg" class="picture-cat-16" data-id="76"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/077/"><img title="Genesis &mdash; 32GB Kit (8x4GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/77/genesis-32gb-kit-8x4gb-ddr3-16_77_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/77/genesis-32gb-kit-8x4gb-ddr3-16_77_s1.jpg" class="picture-cat-16" data-id="77"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/078/"><img title="Genesis &mdash; 24GB Kit (6x4GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/78/genesis-24gb-kit-6x4gb-ddr3-16_78_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/78/genesis-24gb-kit-6x4gb-ddr3-16_78_s1.jpg" class="picture-cat-16" data-id="78"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/079/"><img title="Genesis &mdash; 16GB Kit (2x8GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/79/genesis-16gb-kit-2x8gb-ddr3-16_79_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/79/genesis-16gb-kit-2x8gb-ddr3-16_79_s1.jpg" class="picture-cat-16" data-id="79"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/080/"><img title="Genesis &mdash; 16GB Kit (4x4GB) &mdash; DDR3 2400MHz CL11 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/80/genesis-16gb-kit-4x4gb-ddr3-24_80_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/80/genesis-16gb-kit-4x4gb-ddr3-24_80_s1.jpg" class="picture-cat-16" data-id="80"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/081/"><img title="Genesis &mdash; 16GB Kit (4x4GB) &mdash; DDR3 2133MHz CL11 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/81/genesis-16gb-kit-4x4gb-ddr3-21_81_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/81/genesis-16gb-kit-4x4gb-ddr3-21_81_s1.jpg" class="picture-cat-16" data-id="81"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/082/"><img title="Genesis &mdash; 16GB Kit (4x4GB) &mdash; DDR3 1866MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/82/genesis-16gb-kit-4x4gb-ddr3-18_82_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/82/genesis-16gb-kit-4x4gb-ddr3-18_82_s1.jpg" class="picture-cat-16" data-id="82"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/083/"><img title="Genesis &mdash; 16GB Kit (4x4GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/83/genesis-16gb-kit-4x4gb-ddr3-16_83_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/83/genesis-16gb-kit-4x4gb-ddr3-16_83_s1.jpg" class="picture-cat-16" data-id="83"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/084/"><img title="Genesis &mdash; 12GB Kit (3x4GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/84/genesis-12gb-kit-3x4gb-ddr3-16_84_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/84/genesis-12gb-kit-3x4gb-ddr3-16_84_s1.jpg" class="picture-cat-16" data-id="84"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/085/"><img title="Genesis &mdash; 12GB Kit (6x2GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/85/genesis-12gb-kit-6x2gb-ddr3-16_85_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/85/genesis-12gb-kit-6x2gb-ddr3-16_85_s1.jpg" class="picture-cat-16" data-id="85"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/086/"><img title="Genesis &mdash; 8GB Module &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/86/genesis-8gb-module-ddr3-1600mh_86_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/86/genesis-8gb-module-ddr3-1600mh_86_s1.jpg" class="picture-cat-16" data-id="86"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/087/"><img title="Genesis &mdash; 8GB Kit (2x4GB) &mdash; DDR3 1866MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/87/genesis-8gb-kit-2x4gb-ddr3-186_87_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/87/genesis-8gb-kit-2x4gb-ddr3-186_87_s1.jpg" class="picture-cat-16" data-id="87"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/091/"><img title="Genesis &mdash; 8GB Kit (4x2GB) &mdash; DDR3 2133MHz CL11 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/91/genesis-8gb-kit-4x2gb-ddr3-213_91_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/91/genesis-8gb-kit-4x2gb-ddr3-213_91_s1.jpg" class="picture-cat-16" data-id="91"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/092/"><img title="Genesis &mdash; 8GB Kit (4x2GB) &mdash; DDR3 1866MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/92/genesis-8gb-kit-4x2gb-ddr3-186_92_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/92/genesis-8gb-kit-4x2gb-ddr3-186_92_s1.jpg" class="picture-cat-16" data-id="92"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/093/"><img title="Genesis &mdash; 8GB Kit (4x2GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/93/genesis-8gb-kit-4x2gb-ddr3-160_93_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/93/genesis-8gb-kit-4x2gb-ddr3-160_93_s1.jpg" class="picture-cat-16" data-id="93"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/094/"><img title="Genesis &mdash; 8GB Kit (4x2GB) &mdash; DDR2 800MHz CL4 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/94/genesis-8gb-kit-4x2gb-ddr2-800_94_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/94/genesis-8gb-kit-4x2gb-ddr2-800_94_s1.jpg" class="picture-cat-16" data-id="94"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/095/"><img title="Genesis &mdash; 6GB Kit (3x2GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/95/genesis-6gb-kit-3x2gb-ddr3-160_95_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/95/genesis-6gb-kit-3x2gb-ddr3-160_95_s1.jpg" class="picture-cat-16" data-id="95"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/096/"><img title="Genesis &mdash; 4GB Module &mdash; DDR3 1866MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/96/genesis-4gb-module-ddr3-1866mh_96_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/96/genesis-4gb-module-ddr3-1866mh_96_s1.jpg" class="picture-cat-16" data-id="96"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/097/"><img title="Genesis &mdash; 4GB Module &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/97/genesis-4gb-module-ddr3-1600mh_97_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/97/genesis-4gb-module-ddr3-1600mh_97_s1.jpg" class="picture-cat-16" data-id="97"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/098/"><img title="Genesis &mdash; 4GB Kit (2x2GB) &mdash; DDR3 1866MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/98/genesis-4gb-kit-2x2gb-ddr3-186_98_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/98/genesis-4gb-kit-2x2gb-ddr3-186_98_s1.jpg" class="picture-cat-16" data-id="98"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/099/"><img title="Genesis &mdash; 4GB Kit (2x2GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/99/genesis-4gb-kit-2x2gb-ddr3-160_99_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/99/genesis-4gb-kit-2x2gb-ddr3-160_99_s1.jpg" class="picture-cat-16" data-id="99"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/101/"><img title="Genesis &mdash; 4GB Kit (2x2GB) &mdash; DDR3 1333MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/1/genesis-4gb-kit-2x2gb-ddr3-13_101_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/1/genesis-4gb-kit-2x2gb-ddr3-13_101_s1.jpg" class="picture-cat-16" data-id="101"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/104/"><img title="Genesis &mdash; 4GB Kit (2x2GB) &mdash; DDR2 800MHz CL5 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/4/genesis-4gb-kit-2x2gb-ddr2-80_104_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/4/genesis-4gb-kit-2x2gb-ddr2-80_104_s1.jpg" class="picture-cat-16" data-id="104"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/109/"><img title="Genesis &mdash; 2GB Module &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/9/genesis-2gb-module-ddr3-1600m_109_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/9/genesis-2gb-module-ddr3-1600m_109_s1.jpg" class="picture-cat-16" data-id="109"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/112/"><img title="Genesis &mdash; 2GB Module &mdash; DDR2 800MHz CL5 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/12/genesis-2gb-module-ddr2-800mh_112_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/12/genesis-2gb-module-ddr2-800mh_112_s1.jpg" class="picture-cat-16" data-id="112"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/114/"><img title="Genesis &mdash; 2GB Kit (2x1GB) &mdash; DDR2 1066MHz CL5 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/14/genesis-2gb-kit-2x1gb-ddr2-10_114_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/14/genesis-2gb-kit-2x1gb-ddr2-10_114_s1.jpg" class="picture-cat-16" data-id="114"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/115/"><img title="Genesis &mdash; 2GB Kit (2x1GB) &mdash; DDR2 800MHz CL4 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/15/genesis-2gb-kit-2x1gb-ddr2-80_115_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/15/genesis-2gb-kit-2x1gb-ddr2-80_115_s1.jpg" class="picture-cat-16" data-id="115"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/116/"><img title="Genesis &mdash; 2GB Kit (2x1GB) &mdash; DDR2 800MHz CL5 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/16/genesis-2gb-kit-2x1gb-ddr2-80_116_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/16/genesis-2gb-kit-2x1gb-ddr2-80_116_s1.jpg" class="picture-cat-16" data-id="116"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/119/"><img title="Genesis &mdash; 1GB Module &mdash; DDR2 1066MHz CL5 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/19/genesis-1gb-module-ddr2-1066m_119_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/19/genesis-1gb-module-ddr2-1066m_119_s1.jpg" class="picture-cat-16" data-id="119"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/120/"><img title="Genesis &mdash; 1GB Module &mdash; DDR2 800MHz CL5 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/20/genesis-1gb-module-ddr2-800mh_120_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/20/genesis-1gb-module-ddr2-800mh_120_s1.jpg" class="picture-cat-16" data-id="120"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/121/"><img title="Genesis &mdash; 1GB Module &mdash; DDR2 800MHz CL4 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/21/genesis-1gb-module-ddr2-800mh_121_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/21/genesis-1gb-module-ddr2-800mh_121_s1.jpg" class="picture-cat-16" data-id="121"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/036/"><img title="PnP &mdash; 4GB Kit (2x2GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/36/pnp-4gb-kit-2x2gb-ddr3-1600mhz_36_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/36/pnp-4gb-kit-2x2gb-ddr3-1600mhz_36_s1.jpg" class="picture-cat-17" data-id="36"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/037/"><img title="PnP &mdash; 8GB Kit (2x4GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/37/pnp-8gb-kit-2x4gb-ddr3-1600mhz_37_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/37/pnp-8gb-kit-2x4gb-ddr3-1600mhz_37_s1.jpg" class="picture-cat-17" data-id="37"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/040/"><img title="PnP &mdash; 16GB Kit (2x8GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/40/pnp-16gb-kit-2x8gb-ddr3-1600mh_40_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/40/pnp-16gb-kit-2x8gb-ddr3-1600mh_40_s1.jpg" class="picture-cat-17" data-id="40"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/042/"><img title="PnP &mdash; 4GB Kit (2x2GB) &mdash; DDR3 1866MHz CL11 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/42/pnp-4gb-kit-2x2gb-ddr3-1866mhz_42_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/42/pnp-4gb-kit-2x2gb-ddr3-1866mhz_42_s1.jpg" class="picture-cat-17" data-id="42"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/043/"><img title="PnP &mdash; 8GB Kit (2x4GB) &mdash; DDR3 1866MHz CL11 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/43/pnp-8gb-kit-2x4gb-ddr3-1866mhz_43_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/43/pnp-8gb-kit-2x4gb-ddr3-1866mhz_43_s1.jpg" class="picture-cat-17" data-id="43"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/047/"><img title="LoVo &mdash; 8GB Kit (2x4GB) &mdash; DDR3L 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/47/lovo-8gb-kit-2x4gb-ddr3l-1600m_47_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/47/lovo-8gb-kit-2x4gb-ddr3l-1600m_47_s1.jpg" class="picture-cat-18" data-id="47"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/048/"><img title="LoVo &mdash; 4GB Kit (2x2GB) &mdash; DDR3L 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/48/lovo-4gb-kit-2x2gb-ddr3l-1600m_48_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/48/lovo-4gb-kit-2x2gb-ddr3l-1600m_48_s1.jpg" class="picture-cat-18" data-id="48"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/049/"><img title="HyperX red &mdash; 16GB Kit (2x8GB) &mdash; DDR3 1600MHz CL10 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/49/hyperx-red-16gb-kit-2x8gb-ddr3_49_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/49/hyperx-red-16gb-kit-2x8gb-ddr3_49_s1.jpg" class="picture-cat-15" data-id="49"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/050/"><img title="HyperX red &mdash; 8GB Module &mdash; DDR3 1600MHz CL10 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/50/hyperx-red-8gb-module-ddr3-160_50_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/50/hyperx-red-8gb-module-ddr3-160_50_s1.jpg" class="picture-cat-15" data-id="50"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/051/"><img title="HyperX red &mdash; 8GB Kit (2x4GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/51/hyperx-red-8gb-kit-2x4gb-ddr3-_51_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/51/hyperx-red-8gb-kit-2x4gb-ddr3-_51_s1.jpg" class="picture-cat-15" data-id="51"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/052/"><img title="HyperX red &mdash; 8GB Kit (2x4GB) &mdash; DDR3 1333MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/52/hyperx-red-8gb-kit-2x4gb-ddr3-_52_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/52/hyperx-red-8gb-kit-2x4gb-ddr3-_52_s1.jpg" class="picture-cat-15" data-id="52"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/053/"><img title="HyperX red &mdash; 4GB Module &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/53/hyperx-red-4gb-module-ddr3-160_53_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/53/hyperx-red-4gb-module-ddr3-160_53_s1.jpg" class="picture-cat-15" data-id="53"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/054/"><img title="HyperX red &mdash; 4GB Module &mdash; DDR3 1333MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/54/hyperx-red-4gb-module-ddr3-133_54_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/54/hyperx-red-4gb-module-ddr3-133_54_s1.jpg" class="picture-cat-15" data-id="54"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/055/"><img title="HyperX red &mdash; 4GB Kit (2x2GB) &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/55/hyperx-red-4gb-kit-2x2gb-ddr3-_55_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/55/hyperx-red-4gb-kit-2x2gb-ddr3-_55_s1.jpg" class="picture-cat-15" data-id="55"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/057/"><img title="HyperX red &mdash; 2GB Module &mdash; DDR3 1600MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/57/hyperx-red-2gb-module-ddr3-160_57_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/57/hyperx-red-2gb-module-ddr3-160_57_s1.jpg" class="picture-cat-15" data-id="57"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/058/"><img title="HyperX red &mdash; 2GB Module &mdash; DDR3 1333MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/58/hyperx-red-2gb-module-ddr3-133_58_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/58/hyperx-red-2gb-module-ddr3-133_58_s1.jpg" class="picture-cat-15" data-id="58"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/056/"><img title="HyperX red &mdash; 4GB Kit (2x2GB) &mdash; DDR3 1333MHz CL9 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/0/56/hyperx-red-4gb-kit-2x2gb-ddr3-_56_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/0/56/hyperx-red-4gb-kit-2x2gb-ddr3-_56_s1.jpg" class="picture-cat-15" data-id="56"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/108/"><img title="Genesis &mdash; 4GB Kit (4x1GB) &mdash; DDR2 1066MHz CL5 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/8/genesis-4gb-kit-4x1gb-ddr2-10_108_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/8/genesis-4gb-kit-4x1gb-ddr2-10_108_s1.jpg" class="picture-cat-16" data-id="108"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/110/"><img title="Genesis &mdash; 2GB Module &mdash; DDR2 1066MHz CL5 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/10/genesis-2gb-module-ddr2-1066m_110_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/10/genesis-2gb-module-ddr2-1066m_110_s1.jpg" class="picture-cat-16" data-id="110"></a></li>
			<li><a href="http://hyperx.com.ua/goods/id/111/"><img title="Genesis &mdash; 2GB Module &mdash; DDR2 800MHz CL4 DIMM" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/11/genesis-2gb-module-ddr2-800mh_111_s2.jpg" data-picture="http://hyperx.com.ua/files/catalog/images/1/11/genesis-2gb-module-ddr2-800mh_111_s1.jpg" class="picture-cat-16" data-id="111"></a></li>
		</ul>
</div>

<ul id="goods-l1" class="l1">
					<li><img title="SSDNow V+200 480GB" alt="SSDNow V+200 480GB" src="http://hyperx.com.ua/files/catalog/images/1/38/ssdnow-v200-60gb134135136137_138_s2.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/38/ssdnow-v200-60gb134135136137_138_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/38/ssdnow-v200-60gb134135136137_138_s1.png" data-id="138" class="picture-cat-7"></li>
							<li><img title="SSDNow V+200 240GB" alt="SSDNow V+200 240GB" src="http://hyperx.com.ua/files/catalog/images/1/37/ssdnow-v200-60gb134135136_137_s2.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/37/ssdnow-v200-60gb134135136_137_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/37/ssdnow-v200-60gb134135136_137_s1.png" data-id="137" class="picture-cat-7"></li>
							<li><img title="SSDNow V+200 120GB" alt="SSDNow V+200 120GB" src="http://hyperx.com.ua/files/catalog/images/1/36/ssdnow-v200-60gb134135_136_s2.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/36/ssdnow-v200-60gb134135_136_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/36/ssdnow-v200-60gb134135_136_s1.png" data-id="136" class="picture-cat-7"></li>
							<li><img title="SSDNow V+200 90GB" alt="SSDNow V+200 90GB" src="http://hyperx.com.ua/files/catalog/images/1/35/ssdnow-v200-60gb134_135_s2.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/35/ssdnow-v200-60gb134_135_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/35/ssdnow-v200-60gb134_135_s1.png" data-id="135" class="picture-cat-7"></li>
																																																																																																																																																																																																																																																																																	</ul>
<div class="mask"></div>
<ul id="goods-l2" class="l2">
					<li><a href="http://hyperx.com.ua/goods/id/138/"><img title="SSDNow V+200 480GB" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/38/ssdnow-v200-60gb134135136137_138_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/38/ssdnow-v200-60gb134135136137_138_s1.png" data-id="138"></a></li>
							<li><a href="http://hyperx.com.ua/goods/id/137/"><img title="SSDNow V+200 240GB" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/37/ssdnow-v200-60gb134135136_137_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/37/ssdnow-v200-60gb134135136_137_s1.png" data-id="137"></a></li>
							<li><a href="http://hyperx.com.ua/goods/id/136/"><img title="SSDNow V+200 120GB" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/36/ssdnow-v200-60gb134135_136_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/36/ssdnow-v200-60gb134135_136_s1.png" data-id="136"></a></li>
							<li><a href="http://hyperx.com.ua/goods/id/135/"><img title="SSDNow V+200 90GB" alt="" src="/skin/img/project/bg_mini_good_pass.png" data-preview="http://hyperx.com.ua/files/catalog/images/1/35/ssdnow-v200-60gb134_135_s2.png" data-picture="http://hyperx.com.ua/files/catalog/images/1/35/ssdnow-v200-60gb134_135_s1.png" data-id="135"></a></li>
																																																																																																																																																																																																																																																																																	</ul>		</div>
		<a class="btn-l" href="#"></a>
		<a class="btn-r" href="#"></a>
	</div>

	<div class="b-goods-inner">
		<div class="goods-cats">
			<ul class="top-menu">
																																				<li class="m1" data-cat-id="1" data-owner-id="0" id="cat-button-1"><span>Память</span></li>
																																																																																																											<li class="m2" data-cat-id="2" data-owner-id="0" id="cat-button-2"><span>SSD</span></li>
																																																				<li class="m0 active" data-cat-id="0" data-owner-id="0" id="cat-button-0"><span>Продукты</span></li>
			</ul>
			<del class="clr"></del>


			<div class="goods-descr">
				<div id="goods-descr-cont"></div>
			</div>

			<div id="cat-descr">
				<div class="scroll-pane inner">
					<div>
						<div class="title"></div>
						<div class="descr"></div>
					</div>
				</div>
			</div>

			<div class="total-cats" id="total-cats">

											<div class="cats-cont" id="cats-0">
					<ul class="cats">
																																										<li class="c11">
									<a data-cat-id="1" data-owner-id="0" href="#"><img alt="Модули памяти Kingston HyperX" src="http://hyperx.com.ua/files/catalog_cat/images/0/1/moduli-pamjati-kingston-hyperx_1_p0.png"></a>
									<a class="title" data-cat-id="1" data-owner-id="0" href="#">Модули памяти Kingston <span>HyperX</span></a>
									<del class="clr"></del>
								</li>
																																																																																																																																																									<li class="c12">
									<a data-cat-id="2" data-owner-id="0" href="#"><img alt="Твердотельные накопители Kingston HyperX" src="http://hyperx.com.ua/files/catalog_cat/images/0/2/tverdotelnye-nakopiteli-kingsto_2_p0.png"></a>
									<a class="title" data-cat-id="2" data-owner-id="0" href="#">Твердотельные накопители Kingston <span>HyperX</span></a>
									<del class="clr"></del>
								</li>
																																																																						</ul>
				</div>
			
																											<div style="display: none" class="cats-cont" id="cats-1">
						<ul class="cats">
																							<li class="c1">
									<div class="img"><a class="sub-cat" data-owner-id="1" data-cat-id="5" href="#"><img alt="HYPERX PREDATOR" src="http://hyperx.com.ua/files/catalog_cat/images/0/5/predator_5_p0.png"></a></div>
									<a class="title sub-cat" data-owner-id="1" data-cat-id="5" href="#"><span>HyperX</span> PREDATOR</a>
									<del class="clr"></del>
								</li>
																							<li class="c1">
									<div class="img"><a class="sub-cat" data-owner-id="1" data-cat-id="4" href="#"><img alt="HYPERX GENESIS" src="http://hyperx.com.ua/files/catalog_cat/images/0/4/genesis_4_p0.png"></a></div>
									<a class="title sub-cat" data-owner-id="1" data-cat-id="4" href="#"><span>HyperX</span> GENESIS</a>
									<del class="clr"></del>
								</li>
																							<li class="c1">
									<div class="img"><a class="sub-cat" data-owner-id="1" data-cat-id="3" href="#"><img alt="HYPERX BLU" src="http://hyperx.com.ua/files/catalog_cat/images/0/3/blu_3_p0.png"></a></div>
									<a class="title sub-cat" data-owner-id="1" data-cat-id="3" href="#"><span>HyperX</span> BLU</a>
									<del class="clr"></del>
								</li>
													</ul>
					</div>
																				<div style="display: none" class="cats-cont" id="cats-5">
						<ul class="cats">
																							<li class="c1">
									<div class="img"><a class="sub-cat" data-owner-id="5" data-cat-id="19" href="#"><img alt="HyperX Predator" src="http://hyperx.com.ua/files/catalog_cat/images/0/19/predator_19_p0.png"></a></div>
									<a class="title sub-cat" data-owner-id="5" data-cat-id="19" href="#"><span>HyperX</span> Predator</a>
									<del class="clr"></del>
								</li>
																							<li class="c1">
									<div class="img"><a class="sub-cat" data-owner-id="5" data-cat-id="20" href="#"><img alt="HyperX H2O" src="http://hyperx.com.ua/files/catalog_cat/images/0/20/h2o_20_p0.png"></a></div>
									<a class="title sub-cat" data-owner-id="5" data-cat-id="20" href="#"><span>HyperX</span> H2O</a>
									<del class="clr"></del>
								</li>
													</ul>
					</div>
																																																																<div style="display: none" class="cats-cont" id="cats-4">
						<ul class="cats">
																							<li class="c1">
									<div class="img"><a class="sub-cat" data-owner-id="4" data-cat-id="16" href="#"><img alt="HyperX Genesis" src="http://hyperx.com.ua/files/catalog_cat/images/0/16/genesis_16_p0.png"></a></div>
									<a class="title sub-cat" data-owner-id="4" data-cat-id="16" href="#"><span>HyperX</span> Genesis</a>
									<del class="clr"></del>
								</li>
																							<li class="c1">
									<div class="img"><a class="sub-cat" data-owner-id="4" data-cat-id="17" href="#"><img alt="HyperX Genesis: PnP" src="http://hyperx.com.ua/files/catalog_cat/images/0/17/genesis-pnp_17_p0.png"></a></div>
									<a class="title sub-cat" data-owner-id="4" data-cat-id="17" href="#"><span>HyperX</span> Genesis: PnP</a>
									<del class="clr"></del>
								</li>
																							<li class="c1">
									<div class="img"><a class="sub-cat" data-owner-id="4" data-cat-id="18" href="#"><img alt="HyperX Genesis: LoVo" src="http://hyperx.com.ua/files/catalog_cat/images/0/18/genesis-lovo_18_p0.png"></a></div>
									<a class="title sub-cat" data-owner-id="4" data-cat-id="18" href="#"><span>HyperX</span> Genesis: LoVo</a>
									<del class="clr"></del>
								</li>
													</ul>
					</div>
																																																					<div style="display: none" class="cats-cont" id="cats-2">
						<ul class="cats">
																							<li class="c1">
									<div class="img"><a class="sub-cat" data-owner-id="2" data-cat-id="8" href="#"><img alt="HyperX SSD" src="http://hyperx.com.ua/files/catalog_cat/images/0/8/hyperx-ssd_8_p0.png"></a></div>
									<a class="title sub-cat" data-owner-id="2" data-cat-id="8" href="#"><span>HyperX</span> SSD</a>
									<del class="clr"></del>
								</li>
																							<li class="c1">
									<div class="img"><a class="sub-cat" data-owner-id="2" data-cat-id="6" href="#"><img alt="HyperX 3K" src="http://hyperx.com.ua/files/catalog_cat/images/0/6/hyperx-3k_6_p0.png"></a></div>
									<a class="title sub-cat" data-owner-id="2" data-cat-id="6" href="#"><span>HyperX</span> 3K</a>
									<del class="clr"></del>
								</li>
																							<li class="c1">
									<div class="img"><a class="sub-cat" data-owner-id="2" data-cat-id="7" href="#"><img alt="SSDNOW V+200" src="http://hyperx.com.ua/files/catalog_cat/images/0/7/hyperx-v200_7_p0.png"></a></div>
									<a class="title sub-cat" data-owner-id="2" data-cat-id="7" href="#">SSDNOW V+200</a>
									<del class="clr"></del>
								</li>
													</ul>
					</div>
																																										<div style="display: none" class="cats-cont" id="cats-3">
						<ul class="cats">
																							<li class="c1">
									<div class="img"><a class="sub-cat" data-owner-id="3" data-cat-id="14" href="#"><img alt="HyperX Blu" src="http://hyperx.com.ua/files/catalog_cat/images/0/14/blu_14_p0.png"></a></div>
									<a class="title sub-cat" data-owner-id="3" data-cat-id="14" href="#"><span>HyperX</span> Blu</a>
									<del class="clr"></del>
								</li>
																							<li class="c1">
									<div class="img"><a class="sub-cat" data-owner-id="3" data-cat-id="15" href="#"><img alt="HyperX Blu: Red" src="http://hyperx.com.ua/files/catalog_cat/images/0/15/blu-red_15_p0.png"></a></div>
									<a class="title sub-cat" data-owner-id="3" data-cat-id="15" href="#"><span>HyperX</span> Blu: Red</a>
									<del class="clr"></del>
								</li>
													</ul>
					</div>
																					</div>
		</div>
		<a href="#" id="btn-go-back"></a>
		<div class="b-check-original">
			<a href="http://www.kingston.com/ru/memory/hyperx/decoder/" target="_blank" class="ajx-std">Проверить оригинальность продукции &gt;&gt;</a>
			<span>Проверка за одну минуту</span>
		</div>

		<div class="b-select-config">
			<a href="#" id="select-config" class="ajx-std">ВЫБРАТЬ СПЕЦИФИКАЦИЮ ПРОДУКЦИИ &gt;&gt;</a>
		</div>

	</div>

</div>



<div id="cont-goods-buy-info" class="g-goods">
	<div class="b-goods-inner">
		<h3 class="title">Где купить</h3>
		<del class="clr"></del>
		<div class=" goods-buy-info">
			<div id="shops-list">
							<div class="item ">
					<a target="_blank" href="http://brain.com.ua/"><img title="Brain" alt="Brain" src="http://hyperx.com.ua/files/pages/images/8/31/brain_831_p0.png"></a>
				</div>
											<div class="item ">
					<a target="_blank" href="http://www.itbox.ua/"><img title="ITBox" alt="ITBox" src="http://hyperx.com.ua/files/pages/images/8/32/itbox_832_p0.png"></a>
				</div>
											<div class="item ">
					<a target="_blank" href="http://comteh.com/"><img title="ComTech" alt="ComTech" src="http://hyperx.com.ua/files/pages/images/8/33/comtech_833_p0.png"></a>
				</div>
											<div class="item last">
					<a target="_blank" href="http://www.diawest.com/shops/"><img title="Diawest" alt="Diawest" src="http://hyperx.com.ua/files/pages/images/8/34/diawest_834_p0.png"></a>
				</div>
				<del class="clr"></del>							<div class="item ">
					<a target="_blank" href="http://elmir.ua"><img title="ElMir" alt="ElMir" src="http://hyperx.com.ua/files/pages/images/8/35/elmir_835_p0.png"></a>
				</div>
											<div class="item ">
					<a target="_blank" href="http://www.spark.ua"><img title="FITO" alt="FITO" src="http://hyperx.com.ua/files/pages/images/8/36/fito_836_p0.png"></a>
				</div>
											<div class="item ">
					<a target="_blank" href="http://tehsovet.ua/"><img title="KPI-Service" alt="KPI-Service" src="http://hyperx.com.ua/files/pages/images/8/37/kpi-service_837_p0.png"></a>
				</div>
											<div class="item last">
					<a target="_blank" href="http://www.microtron.zp.ua/"><img title="Microtron" alt="Microtron" src="http://hyperx.com.ua/files/pages/images/8/38/microtron_838_p0.png"></a>
				</div>
				<del class="clr"></del>							<div class="item ">
					<a target="_blank" href="http://www.paradox.ua"><img title="NT-Com" alt="NT-Com" src="http://hyperx.com.ua/files/pages/images/8/39/nt-com_839_p0.png"></a>
				</div>
											<div class="item ">
					<a target="_blank" href="http://pcshop.ua/"><img title="PC SHOP" alt="PC SHOP" src="http://hyperx.com.ua/files/pages/images/8/40/pc-shop_840_p0.png"></a>
				</div>
											<div class="item ">
					<a target="_blank" href="http://rozetka.ua/"><img title="Rozetka" alt="Rozetka" src="http://hyperx.com.ua/files/pages/images/8/41/rozetka_841_p0.png"></a>
				</div>
											<div class="item last">
					<a target="_blank" href="http://www.sokol.ua/"><img title="Sokol" alt="Sokol" src="http://hyperx.com.ua/files/pages/images/8/42/sokol_842_p0.png"></a>
				</div>
				<del class="clr"></del>						</div>
		</div>
		<div class="b-check-original">
			<a href="http://www.kingston.com/ru/memory/hyperx/decoder/" target="_blank" class="ajx-std">Проверить оригинальность продукции &gt;&gt;</a>
			<span>Проверка за одну минуту</span>
		</div>
	</div>
</div>


<div id="goods-configs">
	<h3 id="goods-configs-title">Продукты</h3>
	<del class="clr"></del>
	<div class="goods-configs-inn">
		<div class="title"></div>
		<div id="goods-configs-cont">
			<div class="scroll-pane">
				<div class="goods"></div>
			</div>
		</div>
	</div>

	<a href="#" id="close-goods-config"></a>
</div>
		

	</div>
</div>
{% endblock %}