{% extends "KingstonHyperxBundle::layout.html.twig" %}
{% block content %}
<div class="b-actions-full actions-list" id="news-full">
    <h3 data-href="/news/" id="news-cont-title">Акции</h3>
    <del class="clr"></del>
    <div class="news-inn">
        <div class="b-news-list b-news-list-inner b-actions-list">
            {% for entity in entities %}
            <div class="item">
                <sup></sup>
                <a data-id="7" href="{{ path('action_show', { 'id': entity.id }) }}"><img src="http://hyperx.com.ua/files/news_tape/images/0/7/s-8-po-30-oktjabrja_7_s3.png" alt="С 8 по 30 октября!">{{ entity.title }}</a>
                <p>{{ entity.description }}</p>
                <del class="clr"></del>
            </div>
            {% endfor %}
            </div>
    </div>
</div>
{% endblock %}